<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="min-h-screen flex flex-col justify-center items-center bg-gray-100">

    <section id="features" class="container mx-auto p-6 max-w-6xl">
        <div class="p-6 text-center">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="card bg-white shadow-lg p-6 rounded-xl">
                    <h3 class="text-xl font-semibold">Analisis Cepat</h3>
                    <p>Mendeteksi penyakit berdasarkan gejala dalam hitungan detik.</p>
                </div>
                <div class="card bg-white shadow-lg p-6 rounded-xl">
                    <h3 class="text-xl font-semibold">Rekomendasi Langkah</h3>
                    <p>Memberikan saran medis berdasarkan data yang diperoleh.</p>
                </div>
                <div class="card bg-white shadow-lg p-6 rounded-xl">
                    <h3 class="text-xl font-semibold">Konsultasi Dokter</h3>
                    <p>Dapatkan rekomendasi dokter sesuai dengan gejala Anda.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-3xl font-bold text-center mb-4">
        <h1>Symptoms List</h1>
    </div>

    <form action="/diagnostic/disease" method="get" class="container mx-auto max-w-6xl p-6 bg-white shadow-md rounded-xl">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(element => { %>
                        <tr>
                            <th><input type="checkbox" class="checkbox" name="name"></th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div>
                                        <div class="font-bold"><%= element.name %></div>
                                    </div>
                                </div>
                            </td>
                            <td><a href="" class="btn btn-neutral btn-xs">Details</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="flex justify-center mt-5">
                <a href="/diagnostic" class="btn btn-neutral">Select One</a>
            </div>
        </div>
    </form>

    <form action="/diagnostic" method="post" class="container mx-auto max-w-6xl p-6 mt-6 bg-white shadow-md rounded-xl mb-6">
        <div class="mb-4 justify-center">
            <label class="block text-sm font-medium text-gray-700">Other</label>
            <input type="text" class="input input-neutral w-full mt-1" name="name" placeholder="Masukkan nama symptom">
        </div>
        <button type="submit" class="btn btn-neutral">Submit</button>
    </form>

    <%- include('parts/script') %>
</body>
</html>
