<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('parts/script') %>
  </head>
  <body>
    <%- include('parts/navbar', {userLogin: userLogin}) %>
    <div
      class="hero min-h-screen bg-linear-to-br from-(--color-primary) to-(--color-accent)"
    >
      <!-- <div class="hero-overlay"></div> -->
      <div class="hero-content text-primary-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
          <p class="mb-5">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
            excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
            a id nisi.
          </p>
          <button class="btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
  </body>
</html>
