<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('parts/script') %>
  </head>
  <body>
    <%- include('parts/navbar', {session: session}) %>
    <div
      class="hero min-h-screen bg-linear-to-br from-(--color-primary) to-(--color-accent)"
    >
      <!-- <div class="hero-overlay"></div> -->
      <div class="hero-content text-primary-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Health Tracker</h1>
          <p class="mb-5">
            Welcome to Health Tracker, your disease tracker. Quickly track your
            symptoms and get information on potential diseases in minutes. To
            get started, start by joining us as a user.
          </p>
          <% if (session.userId) { %>
          <a href="/diagnostic">
            <button class="btn btn-primary">Diagnose</button>
          </a>
          <% } else { %>
          <a href="/login">
            <button class="btn btn-primary">Get Started</button>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
